.leaflet-container {
  width: 75%;
  height: 600px;
  border-radius: 30px;
  border: 3px solid rgb(148, 96, 0)
}

.icon{
  background-color: rgb(128, 83, 0);
  color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}

.icon:hover{
  background-color: wheat;
  color: rgb(197, 128, 0);
}

.logo{
  height:40px;
  width: auto;
  margin: 10px;
}

.App-header {
  background: linear-gradient(180deg,  rgb(131, 70, 0) 0%, rgba(9,9,121,0) 95%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: pink;
  height: 20%;
  margin-bottom: 20px;
}
body{
  background-color: rgb(48, 31, 0);
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
}